<div class = "page-header">
  <h1>Recent Status Updates & Weigh-Ins</h1>
</div>

<% @statuses.each do |status| %>
  <div class = "status">
    <strong><%= status.name %></strong>
    <strong><%= status.weight %></strong>
    <strong><%= status.content %></strong>


    <p><%= status.content %></p>

  </div>

<% end %>