<!DOCTYPE html>
<html>
<head>
  <title>Weightable</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br>
 <!--  <div class="navbar">
    <div class="navbar-inner">
      <div class ="container"> -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cutlery"></span>Weightable</a>
        </nav>
        <br>
        <h1>Weightable</h1>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>

